.swiper {
    width: 100% !important;
    max-height: 100vh;
}
.header_wrapper {
    position: relative;
    background: url(./../../assets/bg.svg);
}
.header_wrapper .social {
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(3, 16, 39);
    z-index: 99;
}
.header_wrapper .social i {
    height: 50px;
    width: 50px;
    border: 1px solid #8c8dc080;
    font-size: 22px;
    color:rgba(255, 255, 255, 0.822);
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 50%; */
    transition: .6s;
}
.header_wrapper .social i:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}
.Header_slide {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
}

.header_content {
    width: 50%;
}
.header_content small {
    color: #8c8dc080;
    font-size: 1.1rem;
    font-weight: 500;
    display: inline-block;

    transform: translateX(-100px);
    opacity: 0;
    animation: anim__Show 1s 0.5s forwards linear;
}
.header_content h2 {
    font-size: 3rem;
    line-height: 4rem;
    color: rgba(255, 255, 255, 0.822);

    transform: translateX(-100px);
    opacity: 0;
    animation: anim__Show 1s 1s forwards linear;
}

.header_content p {
    font-size: 1rem;
    color: #adaec2e0;
    margin: 20px 0;

    transform: translateX(-100px);
    opacity: 0;
    animation: anim__Show 1s 1.5s forwards linear;
}
.header_content button {
    width: 180px;
    height: 42px;

    transform: translateX(-100px);
    opacity: 0;
    animation: anim__Show 1s 2s forwards linear;
}

.header_images {
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 0 5%;
}
.header_image {
    width: auto;
    height: 320px;
    overflow: hidden;
}
.header_image:nth-of-type(1) img {
    transform: translateX(-100px);
    opacity: 0;
    animation: anim__Show_img 0.6s 1.4s forwards linear;
}
.header_image:nth-of-type(2) img {
    transform: translateX(100px);
    opacity: 0;
    animation: anim__Show_img 0.6s 1.8s forwards linear;
}
.header_image:nth-of-type(3) img {
    transform: translateX(-100px);
    opacity: 0;
    animation: anim__Show_img 0.6s 2.6s forwards linear;
}
.header_image:nth-of-type(4) img {
    transform: translateX(100px);
    opacity: 0;
    animation: anim__Show_img 0.6s 2.2s forwards linear;
}

/* Slide 2 */

.slide2 .header_content small {
    animation: anim__Show 1s 0.5s forwards linear;
}
.slide2 .header_content h2 {
    animation: anim__Show 1s 1s forwards linear;
}
.slide2 .header_content p {
    animation: anim__Show 1s 1.5s forwards linear;
}
.slide2 .header_content button {
    animation: anim__Show 1s 2s forwards linear;
}

.slide2 .header_image:nth-of-type(1) img {
    animation: anim__Show_img 0.6s 1.4s forwards linear;
}
.slide2 .header_image:nth-of-type(2) img {
    animation: anim__Show_img 0.6s 1.8s forwards linear;
}
.slide2 .header_image:nth-of-type(3) img {
    animation: anim__Show_img 0.6s 2.6s forwards linear;
}
.slide2 .header_image:nth-of-type(4) img {
    animation: anim__Show_img 0.6s 2.2s forwards linear;
}


.header_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
}

@keyframes anim__Show {
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes anim__Show_img {
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
@media screen and (max-width: 1400px) {
    .header_content h2 {
        font-size: 2.5rem;
        line-height: 3rem;
    }    
}
@media screen and (max-width: 1100px) {
    .header_content h2 {
        font-size: 2rem;
        line-height: 2.8rem;
    }    
}
@media screen and (max-width: 900px) {
    .Header_slide {
        width: 100%;
        flex-direction: column;
        gap: 80px;
    }
    .header_content {
        width: 100%;
    }
    .header_images {
        width: 100%;
        padding: 0;
    }
    .header_content small {
        font-size: 1.2rem;
    }
    .header_content h2 {
        font-size: 2rem;
        line-height: 2.8rem;
    }
    .swiper {
        max-height: none;
    }    
}
@media screen and (max-width: 500px) {
    
    .header_content h2 {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    .header_wrapper .social {
        left: 2%;
    }
    .header_wrapper .social i {
        height: 40px;
        width: 40px;
        font-size: 16px;
    }
    
}